body{
    background-color: rgb(255, 255, 255);
}
#productos{
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.codigo{
    align-self: flex-start;
}
.productImg{
    max-width: 460px;
    width: 100%;
}
.img-no-disponible{
    display: flex;
    width: 150px;
    height: 150px;
    background-color: white;
    font-weight: 700;
    color: black;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    filter: drop-shadow( 0px 0px 5px black)
}
@media screen and (min-width:1200px) {
    .img-no-disponible{
        width: 350px;
        height: 350px;
        font-size: larger;
        border-radius: 10px;
    }
}