{% extends 'base.html' %}
{% block title %}Tus compras{% endblock title %}
{% block main %}
{% include 'user/header.html' %}
<table class="table table-hover table-striped table-dark">
    <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Image</th>
        <th>Precio</th>
        <th>Fecha de compra</th>
    </thead>
    <tbody>
        {% for compra in compras %}
        <tr class="align-middle">
            <td>{{compra[0]}}</td>
            <td>{{compra[1]}}</td>
            <td><img src="{{url_for('cargarImagen', imagen = compra[2])}}" alt={{compra[2]}} class="miniatura-prod"></td>
            <td>{{compra[3]}}</td>
            <td>{{compra[4]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}