{% extends 'base.html' %}
{% block title %}
    Carrito de {{current_user.name}}
{% endblock title %}
{% block main %}
{% include 'header.html' %}
<table id="carrito" class="table table-striped">
    <thead>
        <th>id</th>
        <th>nombre</th>
        <th>precio</th>
        <th>imagen</th>
        <th>acción</th>
    </thead>
    <tbody>
        {% for product in products %}
        <tr class="selectible-row">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td><img src="{{url_for('cargarImagen',imagen=product.image)}}" alt="{{product.image}}" class="miniatura-prod"></td>
            <td><a href="{{url_for('quitarDelCarrito',user_id=current_user.id, product_id=product.id)}}"><img src="{{url_for('static',filename='img/remove-from-cart-32.png')}}" alt="carrito de compras con flecha hacia arriba" title="quitar del carrito"></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table id="total" class="table table-striped">
    <thead>
        <th colspan="7">Total</th>
    </thead>
    <tbody>
        <tr>
            <td>$ {{total}}</td>
        </tr>
    </tbody>
</table>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock main %}