{% extends 'base.html' %}
{% block title %}
Crear producto
{% endblock title %}
{% block main %}
{% include 'headerAdmin.html' %}
<form action="{{url_for('guardarCambios')}}" method="POST" enctype="multipart/form-data" id="form" class="container text-center">
    <input type="hidden" name="productId" value="{{product.id}}">
    <div class="form-group">
        <label for="productName">Nombre del producto</label>
        <input type="text" name="productName" id="productName" class="form-control" value = "{{product.name}}">
    </div>
    <div class="form-group">
        <label for="productPrice">Precio</label>
        <input type="text" name="productPrice" id="productPrice" class="form-control" value="{{product.price}}">
    </div>
    <div class="form-group">
        <input type="hidden" value="{{product.image}}" name="oldImage">
        <label for="productImg">Imagen</label>
        {% if product.image is not none() %}
        <img src="{{url_for('cargarImagen',imagen=product.image)}}" class="productImg"alt="">
        {% else %}
        <div class="img-no-disponible"><p>Imagen no disponible</p></div>
        {% endif %}
        <input type="file" name="productImg" id="productImg" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
</form>
{% with messages = get_flashed_messages()  %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-primary alert-dismissible" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
{% endblock main %}