<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Compras.com</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('manipularProductos')}}">Productos</a>
          </li>
          {#esto es un parche temporal, si no hay un usuario loggeado flask-login crea un usuario AnonymousUserMixin el cual no tiene id ni ningun atributo, aunque si las propiedades de userMixin is defined es un test de jinja que devuelce True o False dependiendo de si el nombre a la izquierda esta definido o no #}
          
          {% if current_user.id is defined %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{current_user.name}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('crearProducto')}}">Agregar Producto</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{url_for('logout')}}">Salir</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>